@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  background: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}
